In [1]:
import pandas as pd
import numpy as np

### Convert xml to xsv

In [2]:
df = pd.read_xml('data/export2.xml')
df.to_csv('data/export.csv', index=False)

### Read and transform the data

In [3]:
data = pd.read_csv("data/export.csv")
data

/var/folders/j6/hnb1wkw115x3893s7581k7s40000gn/T/ipykernel_35098/2140728767.py:1: DtypeWarning: Columns (0,1,2,3,4,5,8,9,13,16,18,22,25) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("data/export.csv")

,value,HKCharacteristicTypeIdentifierDateOfBirth,HKCharacteristicTypeIdentifierBiologicalSex,HKCharacteristicTypeIdentifierBloodType,HKCharacteristicTypeIdentifierFitzpatrickSkinType,HKCharacteristicTypeIdentifierCardioFitnessMedicationsUse,type,sourceName,sourceVersion,unit,...,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit,appleMoveTime,appleMoveTimeGoal,appleExerciseTime,appleExerciseTimeGoal,appleStandHours,appleStandHoursGoal,HeartRateVariabilityMetadataList
0,2025-05-31 15:14:12 +0200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1999-02-04,HKBiologicalSexMale,HKBloodTypeNotSet,HKFitzpatrickSkinTypeNotSet,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,185.42,NaN,NaN,NaN,NaN,NaN,HKQuantityTypeIdentifierHeight,Health,15.6,cm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,89.8112,NaN,NaN,NaN,NaN,NaN,HKQuantityTypeIdentifierBodyMass,Health,15.6,kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,84,NaN,NaN,NaN,NaN,NaN,HKQuantityTypeIdentifierHeartRate,Houcen’s Apple Watch,9.1,count/min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423753,30.7234,NaN,NaN,NaN,NaN,NaN,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,Houcen’s Apple Watch,11.2,ms,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1423754,34.8444,NaN,NaN,NaN,NaN,NaN,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,Houcen’s Apple Watch,11.2,ms,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1423755,28.9645,NaN,NaN,NaN,NaN,NaN,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,Houcen’s Apple Watch,11.2,ms,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1423756,65.8283,NaN,NaN,NaN,NaN,NaN,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,Houcen’s Apple Watch,11.2,ms,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1423757,62.6605,NaN,NaN,NaN,NaN,NaN,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,Houcen’s Apple Watch,11.2,ms,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.columns

Index(['value', 'HKCharacteristicTypeIdentifierDateOfBirth',
       'HKCharacteristicTypeIdentifierBiologicalSex',
       'HKCharacteristicTypeIdentifierBloodType',
       'HKCharacteristicTypeIdentifierFitzpatrickSkinType',
       'HKCharacteristicTypeIdentifierCardioFitnessMedicationsUse', 'type',
       'sourceName', 'sourceVersion', 'unit', 'creationDate', 'startDate',
       'endDate', 'device', 'MetadataEntry', 'SensitivityPoint',
       'workoutActivityType', 'duration', 'durationUnit', 'WorkoutEvent',
       'WorkoutStatistics', 'WorkoutRoute', 'dateComponents',
       'activeEnergyBurned', 'activeEnergyBurnedGoal',
       'activeEnergyBurnedUnit', 'appleMoveTime', 'appleMoveTimeGoal',
       'appleExerciseTime', 'appleExerciseTimeGoal', 'appleStandHours',
       'appleStandHoursGoal', 'HeartRateVariabilityMetadataList'],
      dtype='object')

#### Timestamp columns

In [5]:
data[['startDate', 'endDate', 'creationDate']]

,startDate,endDate,creationDate
0,NaN,NaN,NaN
1,NaN,NaN,NaN
2,2022-08-16 08:33:02 +0200,2022-08-16 08:33:02 +0200,2022-08-16 08:33:03 +0200
3,2022-08-16 08:33:02 +0200,2022-08-16 08:33:02 +0200,2022-08-16 08:33:03 +0200
4,2023-01-15 02:00:03 +0200,2023-01-15 02:00:03 +0200,2023-01-15 02:00:23 +0200
...,...,...,...
1423753,2025-05-31 01:26:42 +0200,2025-05-31 01:27:42 +0200,2025-05-31 01:27:43 +0200
1423754,2025-05-31 07:22:34 +0200,2025-05-31 07:23:34 +0200,2025-05-31 07:23:35 +0200
1423755,2025-05-31 09:22:33 +0200,2025-05-31 09:23:33 +0200,2025-05-31 09:23:35 +0200
1423756,2025-05-31 11:22:35 +0200,2025-05-31 11:23:35 +0200,2025-05-31 11:23:36 +0200
1423757,2025-05-31 13:34:53 +0200,2025-05-31 13:35:53 +0200,2025-05-31 13:35:54 +0200

##### We drop every row without a value in the 'value' and 'type' column, because we won't be able to use them.

In [6]:
data = data.dropna(subset=['value', 'type'])
data

,value,HKCharacteristicTypeIdentifierDateOfBirth,HKCharacteristicTypeIdentifierBiologicalSex,HKCharacteristicTypeIdentifierBloodType,HKCharacteristicTypeIdentifierFitzpatrickSkinType,HKCharacteristicTypeIdentifierCardioFitnessMedicationsUse,type,sourceName,sourceVersion,unit,...,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit,appleMoveTime,appleMoveTimeGoal,appleExerciseTime,appleExerciseTimeGoal,appleStandHours,appleStandHoursGoal,HeartRateVariabilityMetadataList
2,185.42,NaN,NaN,NaN,NaN,NaN,HKQuantityTypeIdentifierHeight,Health,15.6,cm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,89.8112,NaN,NaN,NaN,NaN,NaN,HKQuantityTypeIdentifierBodyMass,Health,15.6,kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,84,NaN,NaN,NaN,NaN,NaN,HKQuantityTypeIdentifierHeartRate,Houcen’s Apple Watch,9.1,count/min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,83.0101,NaN,NaN,NaN,NaN,NaN,HKQuantityTypeIdentifierHeartRate,Houcen’s Apple Watch,9.1,count/min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,85,NaN,NaN,NaN,NaN,NaN,HKQuantityTypeIdentifierHeartRate,Houcen’s Apple Watch,9.1,count/min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423753,30.7234,NaN,NaN,NaN,NaN,NaN,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,Houcen’s Apple Watch,11.2,ms,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1423754,34.8444,NaN,NaN,NaN,NaN,NaN,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,Houcen’s Apple Watch,11.2,ms,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1423755,28.9645,NaN,NaN,NaN,NaN,NaN,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,Houcen’s Apple Watch,11.2,ms,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1423756,65.8283,NaN,NaN,NaN,NaN,NaN,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,Houcen’s Apple Watch,11.2,ms,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1423757,62.6605,NaN,NaN,NaN,NaN,NaN,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,Houcen’s Apple Watch,11.2,ms,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### We can see here all the available 'type' values that can be used as columns

In [7]:
data.type.unique()

array(['HKQuantityTypeIdentifierHeight',
       'HKQuantityTypeIdentifierBodyMass',
       'HKQuantityTypeIdentifierHeartRate',
       'HKQuantityTypeIdentifierOxygenSaturation',
       'HKQuantityTypeIdentifierRespiratoryRate',
       'HKQuantityTypeIdentifierStepCount',
       'HKQuantityTypeIdentifierDistanceWalkingRunning',
       'HKQuantityTypeIdentifierBasalEnergyBurned',
       'HKQuantityTypeIdentifierActiveEnergyBurned',
       'HKQuantityTypeIdentifierFlightsClimbed',
       'HKQuantityTypeIdentifierAppleExerciseTime',
       'HKQuantityTypeIdentifierDistanceCycling',
       'HKQuantityTypeIdentifierRestingHeartRate',
       'HKQuantityTypeIdentifierVO2Max',
       'HKQuantityTypeIdentifierWalkingHeartRateAverage',
       'HKQuantityTypeIdentifierEnvironmentalAudioExposure',
       'HKQuantityTypeIdentifierHeadphoneAudioExposure',
       'HKQuantityTypeIdentifierWalkingDoubleSupportPercentage',
       'HKQuantityTypeIdentifierSixMinuteWalkTestDistance',
       'HKQuantityTypeIdentifierAppleStandTime',
       'HKQuantityTypeIdentifierWalkingSpeed',
       'HKQuantityTypeIdentifierWalkingStepLength',
       'HKQuantityTypeIdentifierWalkingAsymmetryPercentage',
       'HKQuantityTypeIdentifierStairAscentSpeed',
       'HKQuantityTypeIdentifierStairDescentSpeed',
       'HKDataTypeSleepDurationGoal',
       'HKQuantityTypeIdentifierAppleWalkingSteadiness',
       'HKQuantityTypeIdentifierAppleSleepingWristTemperature',
       'HKQuantityTypeIdentifierHeartRateRecoveryOneMinute',
       'HKQuantityTypeIdentifierEnvironmentalSoundReduction',
       'HKQuantityTypeIdentifierTimeInDaylight',
       'HKQuantityTypeIdentifierPhysicalEffort',
       'HKCategoryTypeIdentifierSleepAnalysis',
       'HKCategoryTypeIdentifierAppleStandHour',
       'HKCategoryTypeIdentifierMindfulSession',
       'HKCategoryTypeIdentifierHighHeartRateEvent',
       'HKCategoryTypeIdentifierAudioExposureEvent',
       'HKCategoryTypeIdentifierLowCardioFitnessEvent',
       'HKQuantityTypeIdentifierHeartRateVariabilitySDNN'], dtype=object)

##### Now, we analyze the missing values on each column

In [8]:
data.isna().sum()

value                                                              0
HKCharacteristicTypeIdentifierDateOfBirth                    1422781
HKCharacteristicTypeIdentifierBiologicalSex                  1422781
HKCharacteristicTypeIdentifierBloodType                      1422781
HKCharacteristicTypeIdentifierFitzpatrickSkinType            1422781
HKCharacteristicTypeIdentifierCardioFitnessMedicationsUse    1422781
type                                                               0
sourceName                                                         0
sourceVersion                                                      0
unit                                                           45427
creationDate                                                       0
startDate                                                          0
endDate                                                            0
device                                                        232507
MetadataEntry                                                1422781
SensitivityPoint                                             1422781
workoutActivityType                                          1422781
duration                                                     1422781
durationUnit                                                 1422781
WorkoutEvent                                                 1422781
WorkoutStatistics                                            1422781
WorkoutRoute                                                 1422781
dateComponents                                               1422781
activeEnergyBurned                                           1422781
activeEnergyBurnedGoal                                       1422781
activeEnergyBurnedUnit                                       1422781
appleMoveTime                                                1422781
appleMoveTimeGoal                                            1422781
appleExerciseTime                                            1422781
appleExerciseTimeGoal                                        1422781
appleStandHours                                              1422781
appleStandHoursGoal                                          1422781
HeartRateVariabilityMetadataList                             1422781
dtype: int64

##### Here, we have the percentages of each column.

In [9]:
data.isna().sum() / len(data)

value                                                        0.000000
HKCharacteristicTypeIdentifierDateOfBirth                    1.000000
HKCharacteristicTypeIdentifierBiologicalSex                  1.000000
HKCharacteristicTypeIdentifierBloodType                      1.000000
HKCharacteristicTypeIdentifierFitzpatrickSkinType            1.000000
HKCharacteristicTypeIdentifierCardioFitnessMedicationsUse    1.000000
type                                                         0.000000
sourceName                                                   0.000000
sourceVersion                                                0.000000
unit                                                         0.031928
creationDate                                                 0.000000
startDate                                                    0.000000
endDate                                                      0.000000
device                                                       0.163417
MetadataEntry                                                1.000000
SensitivityPoint                                             1.000000
workoutActivityType                                          1.000000
duration                                                     1.000000
durationUnit                                                 1.000000
WorkoutEvent                                                 1.000000
WorkoutStatistics                                            1.000000
WorkoutRoute                                                 1.000000
dateComponents                                               1.000000
activeEnergyBurned                                           1.000000
activeEnergyBurnedGoal                                       1.000000
activeEnergyBurnedUnit                                       1.000000
appleMoveTime                                                1.000000
appleMoveTimeGoal                                            1.000000
appleExerciseTime                                            1.000000
appleExerciseTimeGoal                                        1.000000
appleStandHours                                              1.000000
appleStandHoursGoal                                          1.000000
HeartRateVariabilityMetadataList                             1.000000
dtype: float64

#### Let's drop the unusable rows and columns.

In [10]:
data = data[['startDate', 'endDate', 'type', 'value', 'unit', 'creationDate']]
data

,startDate,endDate,type,value,unit,creationDate
2,2022-08-16 08:33:02 +0200,2022-08-16 08:33:02 +0200,HKQuantityTypeIdentifierHeight,185.42,cm,2022-08-16 08:33:03 +0200
3,2022-08-16 08:33:02 +0200,2022-08-16 08:33:02 +0200,HKQuantityTypeIdentifierBodyMass,89.8112,kg,2022-08-16 08:33:03 +0200
4,2023-01-15 02:00:03 +0200,2023-01-15 02:00:03 +0200,HKQuantityTypeIdentifierHeartRate,84,count/min,2023-01-15 02:00:23 +0200
5,2023-01-15 02:01:13 +0200,2023-01-15 02:01:13 +0200,HKQuantityTypeIdentifierHeartRate,83.0101,count/min,2023-01-15 02:02:26 +0200
6,2023-01-15 02:04:52 +0200,2023-01-15 02:04:52 +0200,HKQuantityTypeIdentifierHeartRate,85,count/min,2023-01-15 02:04:48 +0200
...,...,...,...,...,...,...
1423753,2025-05-31 01:26:42 +0200,2025-05-31 01:27:42 +0200,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,30.7234,ms,2025-05-31 01:27:43 +0200
1423754,2025-05-31 07:22:34 +0200,2025-05-31 07:23:34 +0200,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,34.8444,ms,2025-05-31 07:23:35 +0200
1423755,2025-05-31 09:22:33 +0200,2025-05-31 09:23:33 +0200,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,28.9645,ms,2025-05-31 09:23:35 +0200
1423756,2025-05-31 11:22:35 +0200,2025-05-31 11:23:35 +0200,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,65.8283,ms,2025-05-31 11:23:36 +0200
1423757,2025-05-31 13:34:53 +0200,2025-05-31 13:35:53 +0200,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,62.6605,ms,2025-05-31 13:35:54 +0200

### Now, we create a feature that represents the sleep duration.

In [11]:
import pandas as pd

# Ensure date columns are datetime
data['startDate'] = pd.to_datetime(data['startDate'])
data['endDate'] = pd.to_datetime(data['endDate'])

# 1. Calculate sleep duration per phase (in hours)
def calculate_sleep_time(row):
    if row['type'] == 'HKCategoryTypeIdentifierSleepAnalysis':
        return (row['endDate'] - row['startDate']).total_seconds() / 3600
    else:
        return None  # or np.nan if using numpy

data['SleepPhaseDuration'] = data.apply(calculate_sleep_time, axis=1)

# 2. Add a 'date' column based on startDate
data['date'] = data['startDate'].dt.date

# 3. Calculate total sleep per day (only for sleep analysis rows)
sleep_phases = data[data['type'] == 'HKCategoryTypeIdentifierSleepAnalysis'].copy()

# Group by date and sum SleepDuration
daily_totals = (
    sleep_phases
    .groupby('date')['SleepPhaseDuration']
    .sum()
    .reset_index(name='TotalSleepDuration')
)

# 4. Merge total sleep back into the original data
data = data.merge(daily_totals, on='date', how='left')
data

/var/folders/j6/hnb1wkw115x3893s7581k7s40000gn/T/ipykernel_35098/4277686047.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['startDate'] = pd.to_datetime(data['startDate'])
/var/folders/j6/hnb1wkw115x3893s7581k7s40000gn/T/ipykernel_35098/4277686047.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['endDate'] = pd.to_datetime(data['endDate'])
/var/folders/j6/hnb1wkw115x3893s7581k7s40000gn/T/ipykernel_35098/4277686047.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['SleepPhaseDuration'] = data.apply(calculate_sleep_time, axis=1)
/var/folders/j6/hnb1wkw115x3893s7581k7s40000gn/T/ipykernel_35098/4277686047.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = data['startDate'].dt.date

,startDate,endDate,type,value,unit,creationDate,SleepPhaseDuration,date,TotalSleepDuration
0,2022-08-16 08:33:02+02:00,2022-08-16 08:33:02+02:00,HKQuantityTypeIdentifierHeight,185.42,cm,2022-08-16 08:33:03 +0200,NaN,2022-08-16,NaN
1,2022-08-16 08:33:02+02:00,2022-08-16 08:33:02+02:00,HKQuantityTypeIdentifierBodyMass,89.8112,kg,2022-08-16 08:33:03 +0200,NaN,2022-08-16,NaN
2,2023-01-15 02:00:03+02:00,2023-01-15 02:00:03+02:00,HKQuantityTypeIdentifierHeartRate,84,count/min,2023-01-15 02:00:23 +0200,NaN,2023-01-15,17.207500
3,2023-01-15 02:01:13+02:00,2023-01-15 02:01:13+02:00,HKQuantityTypeIdentifierHeartRate,83.0101,count/min,2023-01-15 02:02:26 +0200,NaN,2023-01-15,17.207500
4,2023-01-15 02:04:52+02:00,2023-01-15 02:04:52+02:00,HKQuantityTypeIdentifierHeartRate,85,count/min,2023-01-15 02:04:48 +0200,NaN,2023-01-15,17.207500
...,...,...,...,...,...,...,...,...,...
1422776,2025-05-31 01:26:42+02:00,2025-05-31 01:27:42+02:00,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,30.7234,ms,2025-05-31 01:27:43 +0200,NaN,2025-05-31,5.441667
1422777,2025-05-31 07:22:34+02:00,2025-05-31 07:23:34+02:00,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,34.8444,ms,2025-05-31 07:23:35 +0200,NaN,2025-05-31,5.441667
1422778,2025-05-31 09:22:33+02:00,2025-05-31 09:23:33+02:00,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,28.9645,ms,2025-05-31 09:23:35 +0200,NaN,2025-05-31,5.441667
1422779,2025-05-31 11:22:35+02:00,2025-05-31 11:23:35+02:00,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,65.8283,ms,2025-05-31 11:23:36 +0200,NaN,2025-05-31,5.441667
1422780,2025-05-31 13:34:53+02:00,2025-05-31 13:35:53+02:00,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,62.6605,ms,2025-05-31 13:35:54 +0200,NaN,2025-05-31,5.441667

##### Let's check the missing values again.

In [12]:
data.isna().sum() / len(df)

startDate             0.000000
endDate               0.000000
type                  0.000000
value                 0.000000
unit                  0.031906
creationDate          0.000000
SleepPhaseDuration    0.981377
date                  0.000000
TotalSleepDuration    0.008334
dtype: float64

##### It seems that we still have missing values in the 'unit' column.
##### As we can see below, this only happens when the 'value' column has categorical values.

In [13]:
data[data.unit.isna()].value.unique()

array(['HKCategoryValueSleepAnalysisInBed',
       'HKCategoryValueSleepAnalysisAsleepCore',
       'HKCategoryValueSleepAnalysisAsleepDeep',
       'HKCategoryValueSleepAnalysisAsleepREM',
       'HKCategoryValueSleepAnalysisAwake',
       'HKCategoryValueSleepAnalysisAsleepUnspecified',
       'HKCategoryValueAppleStandHourIdle',
       'HKCategoryValueAppleStandHourStood',
       'HKCategoryValueNotApplicable',
       'HKCategoryValueEnvironmentalAudioExposureEventMomentaryLimit',
       'HKCategoryValueLowCardioFitnessEventLowFitness'], dtype=object)

##### Unique sleep analysis values

In [14]:
data[data.type == 'HKCategoryTypeIdentifierSleepAnalysis'].value.value_counts()

HKCategoryValueSleepAnalysisInBed                8224
HKCategoryValueSleepAnalysisAsleepCore           7985
HKCategoryValueSleepAnalysisAwake                3770
HKCategoryValueSleepAnalysisAsleepREM            2632
HKCategoryValueSleepAnalysisAsleepDeep           2401
HKCategoryValueSleepAnalysisAsleepUnspecified     526
Name: value, dtype: int64

##### Let's define the aggregation for each column, so we can aggregate by day

In [15]:
agg_funcs = {
    'HKCategoryTypeIdentifierAppleStandHour': 'sum',
    'HKCategoryTypeIdentifierAudioExposureEvent': 'count',
    'HKCategoryTypeIdentifierHighHeartRateEvent': 'max',
    'HKCategoryTypeIdentifierMindfulSession': 'sum',
    'HKCategoryTypeIdentifierSleepAnalysis': 'max',
    'HKDataTypeSleepDurationGoal': 'mean',

    'HKQuantityTypeIdentifierActiveEnergyBurned': 'sum',
    'HKQuantityTypeIdentifierAppleExerciseTime': 'sum',
    'HKQuantityTypeIdentifierAppleSleepingWristTemperature': 'mean',
    'HKQuantityTypeIdentifierAppleStandTime': 'sum',
    'HKQuantityTypeIdentifierAppleWalkingSteadiness': 'mean',

    'HKQuantityTypeIdentifierBasalEnergyBurned': 'sum',
    'HKQuantityTypeIdentifierBodyMass': 'last',
    'HKQuantityTypeIdentifierDistanceWalkingRunning': 'sum',
    'HKQuantityTypeIdentifierEnvironmentalAudioExposure': 'mean',
    'HKQuantityTypeIdentifierEnvironmentalSoundReduction': 'mean',
    'HKQuantityTypeIdentifierFlightsClimbed': 'sum',
    'HKQuantityTypeIdentifierHeadphoneAudioExposure': 'mean',

    'HKQuantityTypeIdentifierHeartRate': 'first',
    'HKQuantityTypeIdentifierHeartRateVariabilitySDNN': 'first',
    'HKQuantityTypeIdentifierHeight': 'last',
    'HKQuantityTypeIdentifierOxygenSaturation': 'mean',
    'HKQuantityTypeIdentifierPhysicalEffort': 'first',
    'HKQuantityTypeIdentifierRespiratoryRate': 'mean',
    'HKQuantityTypeIdentifierRestingHeartRate': 'mean',

    'HKQuantityTypeIdentifierSixMinuteWalkTestDistance': 'max',
    'HKQuantityTypeIdentifierStairAscentSpeed': 'mean',
    'HKQuantityTypeIdentifierStairDescentSpeed': 'mean',
    'HKQuantityTypeIdentifierStepCount': 'sum',
    'HKQuantityTypeIdentifierTimeInDaylight': 'sum',
    'HKQuantityTypeIdentifierVO2Max': 'mean',

    'HKQuantityTypeIdentifierWalkingAsymmetryPercentage': 'mean',
    'HKQuantityTypeIdentifierWalkingDoubleSupportPercentage': 'mean',
    'HKQuantityTypeIdentifierWalkingHeartRateAverage': 'mean',
    'HKQuantityTypeIdentifierWalkingSpeed': 'mean',
    'HKQuantityTypeIdentifierWalkingStepLength': 'mean',
}

In [16]:
# Extract the hour from the creation date
data['endDate'] = pd.to_datetime(data['endDate'])
data['time'] = data['endDate'].dt.floor('H')

# Prepare the result DataFrame
final_df = pd.DataFrame(index=data['time'].sort_values().unique())

# Loop through types and aggregate
for type_col, func in agg_funcs.items():
    grouped = (
        data.loc[data['type'] == type_col]
            .groupby('time')['value']
            .agg(func)
            .rename(type_col)
    )
    final_df = final_df.join(grouped, how='left')

### Adding 'SleepDuration' and 'TimeOnBed' columns to the dataframe

In [17]:
grouped_temp = (
    data.groupby('time')['TotalSleepDuration']
        .mean()  # or .agg(func)
        .rename('TotalSleepDuration')
)

final_df = final_df.join(grouped_temp, how='left')

grouped_temp = (
    data.groupby('time')['SleepPhaseDuration']
        .mean()  # or .agg(func)
        .rename('SleepPhaseDuration')
)

final_df = final_df.join(grouped_temp, how='left')



final_df = final_df.reset_index().rename(columns={'index': 'time'})
final_df

,time,HKCategoryTypeIdentifierAppleStandHour,HKCategoryTypeIdentifierAudioExposureEvent,HKCategoryTypeIdentifierHighHeartRateEvent,HKCategoryTypeIdentifierMindfulSession,HKCategoryTypeIdentifierSleepAnalysis,HKDataTypeSleepDurationGoal,HKQuantityTypeIdentifierActiveEnergyBurned,HKQuantityTypeIdentifierAppleExerciseTime,HKQuantityTypeIdentifierAppleSleepingWristTemperature,...,HKQuantityTypeIdentifierStepCount,HKQuantityTypeIdentifierTimeInDaylight,HKQuantityTypeIdentifierVO2Max,HKQuantityTypeIdentifierWalkingAsymmetryPercentage,HKQuantityTypeIdentifierWalkingDoubleSupportPercentage,HKQuantityTypeIdentifierWalkingHeartRateAverage,HKQuantityTypeIdentifierWalkingSpeed,HKQuantityTypeIdentifierWalkingStepLength,TotalSleepDuration,SleepPhaseDuration
0,2022-08-04 00:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,114.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-08-04 02:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-08-04 03:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-08-04 04:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-08-04 05:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22719,2025-05-31 12:00:00+02:00,HKCategoryValueAppleStandHourIdle,NaN,NaN,NaN,HKCategoryValueSleepAnalysisAsleepREM,NaN,1.151,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.441667,0.755556
22720,2025-05-31 13:00:00+02:00,HKCategoryValueAppleStandHourIdle,NaN,NaN,NaN,NaN,NaN,18.354,NaN,NaN,...,156.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,5.441667,NaN
22721,2025-05-31 14:00:00+02:00,HKCategoryValueAppleStandHourIdle,NaN,NaN,NaN,NaN,NaN,21.603,NaN,NaN,...,258.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,5.441667,NaN
22722,2025-05-31 15:00:00+02:00,HKCategoryValueAppleStandHourStood,NaN,NaN,NaN,NaN,NaN,5.673,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,5.441667,NaN
22723,2025-05-31 16:00:00+02:00,HKCategoryValueAppleStandHourStood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.441667,NaN

In [18]:
final_df.isna().sum() / len(final_df)

time                                                      0.000000
HKCategoryTypeIdentifierAppleStandHour                    0.132283
HKCategoryTypeIdentifierAudioExposureEvent                0.998548
HKCategoryTypeIdentifierHighHeartRateEvent                0.995467
HKCategoryTypeIdentifierMindfulSession                    0.999912
HKCategoryTypeIdentifierSleepAnalysis                     0.699261
HKDataTypeSleepDurationGoal                               0.999956
HKQuantityTypeIdentifierActiveEnergyBurned                0.125902
HKQuantityTypeIdentifierAppleExerciseTime                 0.895793
HKQuantityTypeIdentifierAppleSleepingWristTemperature     0.988074
HKQuantityTypeIdentifierAppleStandTime                    0.553380
HKQuantityTypeIdentifierAppleWalkingSteadiness            0.993619
HKQuantityTypeIdentifierBasalEnergyBurned                 0.089465
HKQuantityTypeIdentifierBodyMass                          0.999956
HKQuantityTypeIdentifierDistanceWalkingRunning            0.315525
HKQuantityTypeIdentifierEnvironmentalAudioExposure        0.133295
HKQuantityTypeIdentifierEnvironmentalSoundReduction       0.875198
HKQuantityTypeIdentifierFlightsClimbed                    0.943452
HKQuantityTypeIdentifierHeadphoneAudioExposure            0.900150
HKQuantityTypeIdentifierHeartRate                         0.127046
HKQuantityTypeIdentifierHeartRateVariabilitySDNN          0.578199
HKQuantityTypeIdentifierHeight                            0.999956
HKQuantityTypeIdentifierOxygenSaturation                  0.530320
HKQuantityTypeIdentifierPhysicalEffort                    0.374802
HKQuantityTypeIdentifierRespiratoryRate                   0.699217
HKQuantityTypeIdentifierRestingHeartRate                  0.961802
HKQuantityTypeIdentifierSixMinuteWalkTestDistance         0.996568
HKQuantityTypeIdentifierStairAscentSpeed                  0.964663
HKQuantityTypeIdentifierStairDescentSpeed                 0.960350
HKQuantityTypeIdentifierStepCount                         0.315569
HKQuantityTypeIdentifierTimeInDaylight                    0.950405
HKQuantityTypeIdentifierVO2Max                            0.995027
HKQuantityTypeIdentifierWalkingAsymmetryPercentage        0.855483
HKQuantityTypeIdentifierWalkingDoubleSupportPercentage    0.786613
HKQuantityTypeIdentifierWalkingHeartRateAverage           0.969240
HKQuantityTypeIdentifierWalkingSpeed                      0.772003
HKQuantityTypeIdentifierWalkingStepLength                 0.772003
TotalSleepDuration                                        0.013466
SleepPhaseDuration                                        0.699261
dtype: float64

##### Let's only use the columns with less than 70% missing values

In [19]:
missing_fraction = final_df.isna().sum() / len(final_df)
cols_below_0_5 = missing_fraction[missing_fraction < 0.7].index.to_list()
df = final_df[cols_below_0_5]
df

,time,HKCategoryTypeIdentifierAppleStandHour,HKCategoryTypeIdentifierSleepAnalysis,HKQuantityTypeIdentifierActiveEnergyBurned,HKQuantityTypeIdentifierAppleStandTime,HKQuantityTypeIdentifierBasalEnergyBurned,HKQuantityTypeIdentifierDistanceWalkingRunning,HKQuantityTypeIdentifierEnvironmentalAudioExposure,HKQuantityTypeIdentifierHeartRate,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,HKQuantityTypeIdentifierOxygenSaturation,HKQuantityTypeIdentifierPhysicalEffort,HKQuantityTypeIdentifierRespiratoryRate,HKQuantityTypeIdentifierStepCount,TotalSleepDuration,SleepPhaseDuration
0,2022-08-04 00:00:00+02:00,NaN,NaN,NaN,NaN,NaN,0.07213,NaN,NaN,NaN,NaN,NaN,NaN,114.0,NaN,NaN
1,2022-08-04 02:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-08-04 03:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-08-04 04:00:00+02:00,NaN,NaN,NaN,NaN,NaN,0.01023,NaN,NaN,NaN,NaN,NaN,NaN,16.0,NaN,NaN
4,2022-08-04 05:00:00+02:00,NaN,NaN,NaN,NaN,NaN,0.02141,NaN,NaN,NaN,NaN,NaN,NaN,31.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22719,2025-05-31 12:00:00+02:00,HKCategoryValueAppleStandHourIdle,HKCategoryValueSleepAnalysisAsleepREM,1.151,NaN,77.368,NaN,40.1504,58.0,NaN,0.99,1,15.0,NaN,5.441667,0.755556
22720,2025-05-31 13:00:00+02:00,HKCategoryValueAppleStandHourIdle,NaN,18.354,NaN,96.214,0.115445,61.2572,65.0,62.6605,NaN,1.1,NaN,156.0,5.441667,NaN
22721,2025-05-31 14:00:00+02:00,HKCategoryValueAppleStandHourIdle,NaN,21.603,1.0,110.043,0.207285,70.9537,72.0,NaN,NaN,1.4,NaN,258.0,5.441667,NaN
22722,2025-05-31 15:00:00+02:00,HKCategoryValueAppleStandHourStood,NaN,5.673,NaN,24.657,NaN,71.5681,69.0,NaN,NaN,1.4,NaN,NaN,5.441667,NaN
22723,2025-05-31 16:00:00+02:00,HKCategoryValueAppleStandHourStood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.441667,NaN

In [20]:
df.columns = df.columns.str.replace(r"HKQuantityTypeIdentifier", "", regex=True)
df.columns = df.columns.str.replace(r"HKCategoryTypeIdentifier", "", regex=True)
df

,time,AppleStandHour,SleepAnalysis,ActiveEnergyBurned,AppleStandTime,BasalEnergyBurned,DistanceWalkingRunning,EnvironmentalAudioExposure,HeartRate,HeartRateVariabilitySDNN,OxygenSaturation,PhysicalEffort,RespiratoryRate,StepCount,TotalSleepDuration,SleepPhaseDuration
0,2022-08-04 00:00:00+02:00,NaN,NaN,NaN,NaN,NaN,0.07213,NaN,NaN,NaN,NaN,NaN,NaN,114.0,NaN,NaN
1,2022-08-04 02:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-08-04 03:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-08-04 04:00:00+02:00,NaN,NaN,NaN,NaN,NaN,0.01023,NaN,NaN,NaN,NaN,NaN,NaN,16.0,NaN,NaN
4,2022-08-04 05:00:00+02:00,NaN,NaN,NaN,NaN,NaN,0.02141,NaN,NaN,NaN,NaN,NaN,NaN,31.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22719,2025-05-31 12:00:00+02:00,HKCategoryValueAppleStandHourIdle,HKCategoryValueSleepAnalysisAsleepREM,1.151,NaN,77.368,NaN,40.1504,58.0,NaN,0.99,1,15.0,NaN,5.441667,0.755556
22720,2025-05-31 13:00:00+02:00,HKCategoryValueAppleStandHourIdle,NaN,18.354,NaN,96.214,0.115445,61.2572,65.0,62.6605,NaN,1.1,NaN,156.0,5.441667,NaN
22721,2025-05-31 14:00:00+02:00,HKCategoryValueAppleStandHourIdle,NaN,21.603,1.0,110.043,0.207285,70.9537,72.0,NaN,NaN,1.4,NaN,258.0,5.441667,NaN
22722,2025-05-31 15:00:00+02:00,HKCategoryValueAppleStandHourStood,NaN,5.673,NaN,24.657,NaN,71.5681,69.0,NaN,NaN,1.4,NaN,NaN,5.441667,NaN
22723,2025-05-31 16:00:00+02:00,HKCategoryValueAppleStandHourStood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.441667,NaN

In [21]:
df.to_csv('data/data_by_hour.csv', index=False)